In [1]:
import pandas as pd
# import metplotlib.pyplot as plt
url = "https://gist.githubusercontent.com/tgcsantos/3bdb29eba6ce391e90df2b72205ba891/raw/22fa920e80c9fa209a9fccc8b52d74cc95d1599b/dados_imoveis.csv"
dados = pd.read_csv(url)

In [2]:
dados.head()

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
0,"Avenida Itacira, 255",Planalto Paulista,São Paulo,1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42",Jardim dos Estados,São Paulo,496,4,4,4,R$ 3.700.000
2,Rua Alba Valdez,Jardim Reimberg,São Paulo,125,4,3,2,R$ 380.000
3,NaN,Jardim Morumbi,São Paulo,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195",Mooca,São Paulo,100,3,2,2,R$ 540.000

In [14]:
dados.sample(10)

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
2421,Rua Abegoaria,Pinheiros,São Paulo,691,4,6,6,R$ 5.800.000
5178,Rua Itaperuna,Pacaembu,São Paulo,1000,4,9,4,R$ 11.990.000
7125,NaN,Jabaquara,São Paulo,160,2,1,2,R$ 700.000
4449,Rua Victor Brecheret,Vila Mariana,São Paulo,120,3,3,3,R$ 1.780.000
2654,NaN,Alto de Pinheiros,São Paulo,413,4,7,4,R$ 5.300.000
8685,Rua Sebastião de Paiva,Vila Leopoldina,São Paulo,154,2,2,3,R$ 840.000
8953,"Rua Conseguina, 53",Jardim Guedala,São Paulo,742,4,5,6,R$ 3.200.000
9089,Rua Vergel,Água Rasa,São Paulo,341,2,2,3,R$ 625.000
5009,Rua Marie Nader Calfat,Jardim Ampliação,São Paulo,20,3,2,2,R$ 800.000
4585,Rua Mantiqueira,Vila Mariana,São Paulo,185,4,3,2,R$ 1.500.000

In [16]:
dados['Bairro']

0         Planalto Paulista
1        Jardim dos Estados
2           Jardim Reimberg
3            Jardim Morumbi
4                     Mooca
                ...
10003            Vila Sofia
10004       Bosque da Saúde
10005         Vila da Saúde
10006         Vila Oratório
10007           Vila Alpina
Name: Bairro, Length: 10008, dtype: object

In [5]:
dados['Bairro'][6522]

'Vila Paulo Silas'

In [17]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10008 entries, 0 to 10007
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Rua        6574 non-null   object
 1   Bairro     9996 non-null   object
 2   Cidade     10008 non-null  object
 3   Metragem   10008 non-null  int64
 4   Quartos    10008 non-null  int64
 5   Banheiros  10008 non-null  int64
 6   Vagas      10008 non-null  int64
 7   Valor      10008 non-null  object
dtypes: int64(4), object(4)
memory usage: 625.6+ KB

In [6]:
dados.Metragem.mean()

442.30065947242207

In [7]:
dados["Metragem"].mean()

442.30065947242207

In [8]:
sum((dados['Bairro'] == 'Vila Mariana'))

184

In [9]:
tem_imoveis_vila =( dados["Bairro"] == "Vila Mariana")
tem_imoveis_vila

0        False
1        False
2        False
3        False
4        False
         ...
10003    False
10004    False
10005    False
10006    False
10007    False
Name: Bairro, Length: 10008, dtype: bool

In [10]:
imoveis_vila_mariana = dados[tem_imoveis_vila]
imoveis_vila_mariana

,Rua,Bairro,Cidade,Metragem,Quartos,Banheiros,Vagas,Valor
100,Rua Pero Correia,Vila Mariana,São Paulo,250,3,3,1,R$ 1.350.000
120,Praça Doutor Carvalho Franco,Vila Mariana,São Paulo,250,3,5,2,R$ 2.450.000
155,Rua Professor João Marinho,Vila Mariana,São Paulo,170,3,4,2,R$ 1.490.000
160,NaN,Vila Mariana,São Paulo,228,4,5,3,R$ 2.200.000
334,"Rua Pero Correia, 892",Vila Mariana,São Paulo,350,6,4,10,R$ 1.700.000
...,...,...,...,...,...,...,...,...
9645,Rua Sousa Ramos,Vila Mariana,São Paulo,285,3,5,5,R$ 1.650.000
9701,Rua Benito Juarez,Vila Mariana,São Paulo,171,3,2,4,R$ 1.650.000
9737,Rua Benito Juarez,Vila Mariana,São Paulo,171,3,2,4,R$ 1.650.000
9807,NaN,Vila Mariana,São Paulo,275,3,1,6,R$ 1.500.000
9852,Rua França Pinto,Vila Mariana,São Paulo,280,3,3,4,R$ 1.600.000

In [11]:
imoveis_vila_mariana["Metragem"].mean()

233.6195652173913

In [12]:
dados["Bairro"].value_counts()

Alto de Pinheiros     409
Jardim Guedala        403
Jardim Paulista       309
Brooklin Paulista     247
Jardim Europa         240
                     ...
Jardim das Imbuias      1
Vila Represa            1
Vila Nancy              1
Sítio Represa           1
Vila Invernada          1
Name: Bairro, Length: 701, dtype: int64

In [ ]:
n_imoveis_bairro = dados["Bairro"].value_counts()
n_imoveis_bairro.head(10).plot.bar()

# Desafios:


1 - Realizar a média da metragem para cara um dos bairros (Paulo)

2 - 2 formas de selecionar os dados por bairro (consultar os métodos na documentação do pandas) (Thiago)

3 - Explorar alguns gráficos na documentação e aplicar nas demais colunas do DF, tentar colocar alguma conclusão (Thiago)

4 - Pegar outros estatísticas dos dados, média, mediana, mim, max (Vivi)

5 - Descobrir quais são os bairros que não tem nome de Rua. (Vivi)